Manifest.toml
docs/build/
docs/site/
docs/_build*
docs/Manifest.toml
bin/zettel
examples/*.aux
examples/*.bbl
examples/*.log
examples/*.pdf
examples/sample_from_*
examples/tmp/*
cli/Manifest.toml
.CondaPkg/
.DS_Store
*.jl.cov
*.jl.*.cov
*.jl.mem
*.swp
*~
