Manifest.toml
docs/build/
docs/site/
docs/_build*
docs/Manifest.toml
bin/Manifest.toml
bin/Zettel.dylib
bin/Zettel.so
bin/Zettel.dll
examples/*.aux
examples/*.bbl
examples/*.log
examples/*.pdf
examples/sample_from_*
.CondaPkg/
.DS_Store
*.jl.cov
*.jl.*.cov
*.jl.mem
*.swp
*~
